<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>listToDoWhat</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body >
        <div class="box" id="heading">
            <h1><%= DayOfTheWeek %></h1>
        </div>
       
        <div class="box">
            <% for(let i=0 ;i<newItem.length; i++) {%>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newItem[i] %></p> 
                </div>
               
            <% } %>

            <form class="item" action="/" method="post">
                <input type="text" name="myText" placeholder="New Item" autocomplete="off">
                <button type="submit">+</button>
    
            </form>
      
        </div>
       
          
     

        
</body>
</html>